<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>shangri-la</title>
    </head>
    <body>
        <p>
            welcome to shangri-la, the surpreme excel highscore server!<br><br>
            this is the home of snekcel, snake in excel.<br>
            created 2020 jonas, htl
            <ul>
                <li><a title="View Highscores" href="/top/">View</a> the highscore list!</li>
                <li><a title="Download" href="/download/">Download</a> the excel file!</li>
            </ul>
        </p>
    </body>
</html>
